.rm {
    cursor: pointer;
}

.edit {
    cursor: pointer;
}

.box {
    border: 2px groove rgba(151, 151, 151, 0.473);
    box-shadow: 3px 5px 3px rgb(151, 151, 151);
    /* border-radius: 10px; */
    height: 400px;
    padding: 15px 15px 15px 15px;
    overflow: auto;
    /* overflow-y: scroll; */
}

.box::-webkit-scrollbar {
    width: 10px;
}

/* Track */

.box::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    /* border-radius: 10px; */
}

/* Handle */

.box::-webkit-scrollbar-thumb {
    background:#343A40;
    border-radius: 5px;
}

/* Handle on hover */

.box::-webkit-scrollbar-thumb:hover {
    background: rgb(151, 151, 151);
}


.card:hover {
    box-shadow: 2px 4px 10px rgb(151, 151, 151);
}
